.button {
  color: $white;
  background-color: $bg-button;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
  outline: none;
  display: inline-block;

  &:hover,
  &:focus {
    background-color: $bg-button-hover;
  }

  &:active {
    background-color: $bg-button-active;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $bg-disabled;
  }
}
