.choice__span {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}

.choice__radio + .choice__span {
  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: -20px;
    width: 47px;
    height: 47px;
    border: 5px solid $input-color;
    border-radius: 50%;
    background-color: $input-color;
  }
}

.choice__radio:checked + .choice__span {
  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 18px solid $input-color;
    background-color: $black;
  }
}
