.contact-us__wrapper {
  margin: 0 auto;
  max-width: 320px;
  text-align: center;
  text-transform: uppercase;
}

.contact-us__title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 33px;
}

.contact-us__text {
  font-size: 14px;
  line-height: 24px;
  color: $font-color-additional;
}

.contact-us__link {
  display: inline-block;
  padding-left: 39px;
  padding-right: 37px;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-top: 13px;
  margin-bottom: 49px;
}
