.fieldset-impression__title {
  padding-top: 20px;
  margin-bottom: 25px;
}

.fieldset-impression__radio {
  margin-bottom: 21px;
  margin-left: 20px;
  margin-right: 20px;

  &:last-of-type {
    margin-bottom: 31px;
  }
}
