.fieldset {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    &--name {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    &--name {
      order: 2;
      margin-right: 60px;
      padding-left: 30px;
    }

    &--contacts {
      order: 3;
      grid-column: 1/-1;
      margin-right: 60px;
    }

    &--impression {
      order: 1;
      border-right: 1px solid $border-color;
      padding-left: 50px;
      padding-right: 30px;
    }

    &--visited {
      order: 4;
      grid-column: 1/-1;
    }

    &--review {
      order: 5;
      grid-column: 1/-1;
    }
  }

  @media (min-width: $desctop-width) {
    &--name {
      margin-left: 79px;
    }

    &--contacts {
      margin-right: 0;
    }
  }
}

.fieldset__inner {
  @media (min-width: $desctop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &--contacts {
      justify-content: space-between;
    }
  }

  &--visited {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desctop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.fieldset__title {
  padding-top: 20px;

  &--contacts {
    margin-bottom: 14px;
  }

  &--impression {
    margin-bottom: 25px;
  }

  &--visited {
    margin-bottom: 17px;
  }

  &--review {
    margin-bottom: 15px;
  }
}

.fieldset__label {
  &--name {
    margin-top: 19px;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  &--contacts {
    margin-left: 18px;
    margin-right: 18px;

    &:last-of-type {
      margin-bottom: 14px;
    }

    @media (min-width: $tablet-width) {
      margin-left: 60px;
      margin-right: 0;
    }

    @media (min-width: $desctop-width) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 78px;

      &:last-of-type {
        margin-bottom: 78px;
      }
    }
  }
}

.fieldset__radio {
  margin-bottom: 21px;
  margin-left: 20px;
  margin-right: 20px;

  &:last-of-type {
    margin-bottom: 31px;
  }
}

.fieldset__checkbox {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.fieldset__textarea {
  margin-left: 20px;
  margin-right: 20px;
}
