.form {
  margin: 0 auto;
  max-width: $mobile-width;

  @media (min-width: $tablet-width) {
    display: grid;
    max-width: $tablet-width;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto;
  }

  @media (min-width: $desctop-width) {
    max-width: $desctop-width;
    grid-template-columns: 1fr 1fr;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border-color;

  &:last-of-type {
    border-bottom: none;
  }
}

.form__button {
  width: 280px;
  height: 58px;
  margin: 51px 20px 76px 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 5;
    width: 324px;
    margin: 58px 0 76px 60px;
  }

  @media (min-width: $desctop-width) {
    width: 480px;
    margin-left: 120px;
  }
}

.form__text {
  display: none;
  text-transform: uppercase;
  font-size: 14px;
  color: $font-color-additional;

  @media (min-width: $tablet-width) {
    display: block;
    order: 6;
    text-align: right;
    margin: 78px 60px 0 0;
  }

  @media (min-width: $desctop-width) {
    margin: 72px 120px 0 0;
  }
}
