.label-text {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  color: $font-color-additional;
  text-transform: uppercase;

  &--phone,
  &--email {
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 58px;
      height: 58px;
      background-color: $input-additional;
      bottom: 11px;
      right: 0;
    }

    @media (min-width: $desctop-width) {
      flex-direction: row;
    }
  }

  &--phone {
    &::after {
      content: "";
      background-image: url("../img/icons/phone.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--email {
    &::after {
      content: "";
      background-image: url("../img/icons/mail.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.label-text__span {
  margin-top: 17px;

  &--contacts {
    margin-top: 0;
    margin-left: 22px;

    @media (min-width: $desctop-width) {
      margin-top: 19px;
      margin-right: 17px;
    }
  }
}

.label-text__input {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 22px;
  background-color: $input-color;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &--name {
    margin-left: 14px;
    width: 100%;
  }

  &--contacts {
    margin-top: 10px;
    margin-bottom: 11px;
  }

  &::placeholder {
    color: $black;
  }
}

.label-text__phone {
  &--long {
    @media (min-width: $desctop-width) {
      display: none;
    }
  }

  &--short {
    display: none;

    @media (min-width: $desctop-width) {
      display: block;
    }
  }
}
