.logo {
  width: 102px;
  height: 84px;

  @media (min-width: $desctop-width) {
    width: 187px;
    height: 96px;
  }
}

.logo__img {
  width: 102px;
  height: 84px;

  @media (min-width: $desctop-width) {
    width: 187px;
    height: 97px;
  }
}
