.page {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: $input-color;

  a {
    text-decoration: none;
  }
}

.page__wrapper {
  display: block;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  min-width: $mobile-width;
  max-width: $desctop-width;
  margin: 0 auto;
  padding: 0;
  background-color: $white;
}
