.page-footer__wrapper {
  margin: 0 auto;
  max-width: $mobile-width;
  text-align: center;
  text-transform: uppercase;
}

.page-footer__slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
}
