.page-header {
  position: relative;
  margin: 0 auto;
  max-width: $mobile-width;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desctop-width) {
    max-width: $desctop-width;
  }
}

.page-header__logo {
  margin-left: 109px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 334px;
    margin-left: 0;
  }

  @media (min-width: $desctop-width) {
    left: 507px;
  }
}

.page-header__intro {
  background-image: url("../img/background/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-color: $bg-button;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: -28px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background/bg-tablet.jpg");
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desctop-width) {
    background-image: url("../img/background/bg-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  &--form {
    background-position: bottom;

    @media (min-width: $tablet-width) {
      background-position: bottom;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0;
    background-image: url("../img/intro/triangle-small.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-image: url("../img/intro/triangle-medium.svg");
    }

    @media (min-width: $desctop-width) {
      background-image: url("../img/intro/triangle-large.svg");
    }
  }
}

.page-header__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  &--index {
    padding-top: 90px;
    padding-bottom: 85px;
    width: 282px;
    height: 214px;

    @media (min-width: $tablet-width) {
      padding-top: 78px;
      width: 461px;
      height: 349px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 78px;
      padding-bottom: 91px;
    }
  }

  &--form {
    padding-top: 52px;
    padding-bottom: 67px;

    @media (min-width: $tablet-width) {
      padding-top: 95px;
      padding-bottom: 118px;
      width: 457px;
      height: 78px;
    }

    @media (min-width: $desctop-width) {
      padding-top: 100px;
      padding-bottom: 121px;
      width: 460px;
      height: 80px;
    }
  }
}
