.page-footer__wrapper {
  margin: 0 auto;
  max-width: $mobile-width;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: $desctop-width) {
    max-width: $desctop-width;
  }
}

.page-footer__slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
}

.page-footer__link {
  vertical-align: middle;
}

.page-footer__svg {
  margin-left: 12px;
  padding-top: 6px;
  fill: $black;

  &:focus,
  &:hover {
    fill: $bg-button-hover;
  }

  &:active {
    fill: rgba($black, 0.3);
  }
}
