.player {
  position: relative;
}

.player__img {
  display: block;
  width: 320px;
  height: 201px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desctop-width) {
    width: 800px;
  }
}

.player__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -46px 20px 0 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: -93px 0 0 0;
  }
}

.player__inner {
  width: 280px;
  background-color: rgba($black, 0.6);
  height: 45px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 93px;
  }

  @media (min-width: $desctop-width) {
    width: 800px;
  }
}

.player__bar {
  width: 235px;
  height: 3px;
  background-color: rgba($white, 0.2);
  margin: 22px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin: 45px 0 0 93px;
    width: 389px;
  }

  @media (min-width: $desctop-width) {
    width: 540px;
  }
}

.player__toggle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  margin: -6px 0 0 58px;

  @media (min-width: $tablet-width) {
    margin-left: 204px;
  }
}

.player__controls {
  background-color: $input-color;
  padding: 22px 0 19px 0;
  margin-bottom: 78px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: absolute;
    left: 9px;
    bottom: 12px;
    margin: 0;
  }

  @media (min-width: $desctop-width) {
    left: 20px;
  }
}
