.reasons__wrapper {
  max-width: $mobile-width;
  margin: 0 auto;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desctop-width) {
    max-width: $desctop-width;
  }
}

.reasons__main {
  color: $white;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.reasons__description {
  display: inline-block;
  background-color: $bg-button;

  &--first {
    padding-top: 55px;
    padding-bottom: 39px;
  }

  &--second {
    padding-top: 39px;
    padding-bottom: 35px;
    order: 2;
  }

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desctop-width) {
    width: 400px;
  }
}

.reasons__title {
  font-size: 18px;
  line-height: 26px;

  &--additional {
    color: $black;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.reasons__text {
  &--additional {
    border-bottom: 1px solid $border-color;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 24px;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.reasons__img {
  width: 320px;
  height: 260px;
}

.reasons__list {
  @include list-reset;
  margin-top: -6px;
}

.reasons__item {
  background-color: $bg-color-additional;
  color: $font-color-additional;
  margin-top: 0;

  &:last-of-type .reasons__text {
    &--additional {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 63px;
    border-bottom: none;
  }
}
