.review-textarea {
  width: 256px;
  height: 145px;
  resize: none;
  padding-top: 13px;
  padding-left: 21px;
  border: none;
  background-color: $input-color;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &::placeholder {
    color: $black;
  }

  @media (min-width: $tablet-width) {
    width: 625px;
  }

  @media (min-width: $desctop-width) {
    width: 937px;
  }
}
