.review-textarea {
  width: 256px;
  height: 141px;
  resize: none;
  padding-top: 11px;
  padding-left: 16px;
  border: 4px solid transparent;
  background-color: $input-color;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: $bg-disabled;
  }

  &:focus {
    background: $white;
    border: 4px solid $bg-disabled;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 625px;
  }

  @media (min-width: $desctop-width) {
    width: 937px;
  }
}
