.socials {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 7px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.socials__link {
  display: inline-flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;

  &:active {
    fill-opacity: 0.3;
  }
}
