.tips {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.tips__item {
  margin-left: 70px;
  margin-top: 26px;

  &--home {
    margin-top: 35px;
  }

  &--food {
    margin-bottom: 35px;
  }
}

.tips__title {
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.tips__text {
  font-size: 14px;
  line-height: 21px;
  color: $font-color-additional;
}
