.video__wrapper {
  margin: 0 auto;
  max-width: $mobile-width;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    margin-bottom: 55px;
  }

  @media (min-width: $desctop-width) {
    max-width: $desctop-width;
    margin-bottom: 100px;
  }
}

.video__desc {
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 445px;
    margin: 0 auto;
  }
}

.video__title {
  font-weight: 700;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 56px;
  }

  @media (min-width: $desctop-width) {
    margin-top: 64px;
  }
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  color: $font-color-additional;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 34px;
  }

  @media (min-width: $desctop-width) {
    margin-top: 32px;
  }
}

.video__player {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin: 80px 60px 0 60px;
  }

  @media (min-width: $desctop-width) {
    margin-left: 200px;
  }
}
