$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1200px;

$black: #000000;
$white: #ffffff;

$bg-button: #81b3d2;
$bg-button-hover: #669ec0;
$bg-button-active: #5496bd;

$font-color-additional: #333333;
$bg-color-additional: #eeeeee;
$border-color: #d6d6d6;
